<!DOCTYPE html>
<html lang="en">

<head>
    <title>Spotifeels</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>

<body>
    <h1>Hello, World!</h1>
    <br>
    Sum from helper function: {{ sum }}
    <br>
    <br>

    <div class="container">
        <!-- Cretae a form where user can type and submit text -->
        <form method="POST" class="form">
            {% csrf_token %}
            Query: <input type="text" name="user_input">
            <button type="submit" class="button">Submit</button>
        </form>
        <br>
        User input: {{ user_input }}
    </div>

    <br>

    
</body>




</html>